@import "./reset.css";

body {
    background-color: pink;
}

.zenith {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: yellow;
}

.content {
    position: relative;
    flex-grow: 1;
    background-color: green;
}

.content #game-canvas {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.controller-display {
    display: flex;
    column-gap: 10px;
}

.joystick-circle {
    position: relative;
}

.joystick-circle .indicator {
    border-radius: 10px;
    border: solid 5px purple;
    width: 0;
    height: 0;
    position: absolute;
}

.player-stats .dash {
    font-weight: bold;
}

.player-stats .dash.has-dash {
    color: green;
}

.player-stats .dash.no-dash {
    color: red;
}

.player-stats .dash.dashing {
    color: blue;
}
